<div class="flex-container">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="color: darkslateblue;">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="password">
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions class="buttons-align">
    <a mat-flat-button (click)="signup()" target="_blank" style="width: 35%;">Cadastre-se</a>
    <button mat-raised-button color="primary" style="width: 35%;" (click)="login()">Entrar</button>
  </mat-card-actions>
</mat-card>
</div>
