.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.example-card{
    width: 25%;
    height: 50%;
    text-align: center;

}

.buttons-align{
    display: flex;
    flex-direction: column;
    align-items: center;

}

