<div class="flex-container">
  <app-conversations style="flex-grow: 2" [conversationsId]="user.conversations" [topicId]="user.topicId" [userEmail]="user.email" (emitConversationId)="handleTopicId($event)"></app-conversations>
  <app-message-area style="flex-grow: 7" [conversationsId]="user.conversations"></app-message-area>
</div>
