<div class="flex-container">
  <mat-accordion class="accordion" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Criar nova conversa
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="full-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome do Grupo" [readonly]="!groupNameEditable()" [(ngModel)]="groupName">
          <mat-hint>Adicione mais de 1 participante para editar o nome do grupo.</mat-hint>
        </mat-form-field>
      </p>
      <p class="full-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email do participante" [(ngModel)]="email">
          <button mat-button matSuffix mat-icon-button aria-label="add" (click)="addEmail()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <mat-card *ngFor="let item of emails">
        {{item}}
        <button mat-button matSuffix mat-icon-button aria-label="remove" (click)="removeEmail(item)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card>
      <button mat-stroked-button (click)="createConversation()">Criar Grupo</button>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-list class="conversation-list">
    <div *ngFor="let item of conversations">
      <mat-list-item matRipple matRippleCentered="true" (click)="getConversationId(item.id)" [ngClass]="{'selected': item.selected }">
        <mat-icon *ngIf="!item.viewed">message</mat-icon> 
        <p mat-line class="demo-2"> {{item.participants.length==2?this.getOtherParticipant(item.participants):item.name}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <div class="containerButton">
    <button (click)="logout()" class="exitButton" mat-raised-button color="warn">Sair</button>
  </div>
</div>
