.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f1f1f1;
}

.accordion{
    width: 95%;
    margin-top: 10px;
}

.full-width{
    width: 100%;
}

.conversation-list{
    width: 80%;
    margin-top: 10px;
    overflow: auto;
}

.selected{
    background-color: darkgray;
}

.containerButton {
    display: flex;
    flex: 1;
    align-items: flex-end;
}
