.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.message{
    margin: 10px;
}

.messages{
    overflow: auto; //scrollable
    margin-top:auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input{
    margin-top:auto;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.container > input {
    margin: 0px;
}

.mat-form-field-infix {
    border-top: 0px !important;
}

.matFormField {
    width: 100%;
}

.userMessage {
    text-align: right;
    background-color: #f1f1f1;
}