<div class="flex-container">
  <!-- Já ta scrollable -->
  <mat-list role="list" class=messages>
    <div *ngFor="let message of messages">
      <mat-card *ngIf="message.email === user.email;else otherUser" class="message userMessage">
        <mat-card-subtitle>{{ message.senderName }}</mat-card-subtitle>
        {{ message.content }}
      </mat-card>
      <ng-template #otherUser>
        <mat-card class="message">
          <mat-card-subtitle>{{ message.senderName }}</mat-card-subtitle>
          {{ message.content }}
        </mat-card>
      </ng-template>
    </div>
    
  </mat-list>
  <p style="width: 100%;">
    <mat-form-field class="matFormField" appearance="outline">
      <div class="container">
        <input [(ngModel)]="messageText" matInput placeholder="Escreva uma mensagem">
        <button (click)="sendMessage()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </p>
</div>
