<div class="flex-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="color: darkslateblue;">Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Senha</mat-label>
          <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="register()">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
  </div>
  